.list_container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 2em;

}

.btn_category {
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  width: 70%;
}

.btn_x {
  width: 20%;
  background-color: white;
  color: rgb(129, 171, 244);
  font-size: 1.25em;
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0.25em;
}

.btn_div {
  width: 100%;
  display: flex;
  background-color:rgb(129, 171, 244);
  align-items: center;
  border-radius: 0.5em;
}
