h1 {
  text-align: center;
  justify-self: center;
  font-size: 5.5em;
  padding: 2em 0 1em;
}

.main {
  width: 90%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
}

.main_panel {
  width: 40%;
  margin-left: 10em;
  padding: 1.9em;
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  max-height: 52em;
  overflow-y: scroll;
}

.sidebar {
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5em;
  min-height: 43em;
  height: auto;
  border: 0.25em solid rgb(129, 171, 244);
  border-radius: 1em;
  padding: 2em;
}

.btn_round {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  font-size: 1.5em;
  position: fixed;
  right: 3em;
  bottom: 3em;
}

.filter {
  width: 25em;
  font-size: 1em;
}

.categories_options {
  display: flex;
  width: 100%;
  gap: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
}

.categories_create {
  background-color: white;
  width: 100%;
  font-size: 1em;
  color: rgb(56, 115, 217);
  border: 0.2em solid rgb(56, 115, 217);
}

.categories_create:hover {
  color: white;
  background-color: rgb(56, 115, 217);
  transition: 0.2s;
}

.done_title {
  color: rgb(117, 118, 120);
}

.display {
  line-height: 0.75em;
}
