h1 {
  text-align: center;
  justify-self: center;
  font-size: 5.2em;
  padding: 2em 0 1em;
}

.main {
  width: 90%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
}

.main_panel {
  width: 40%;
  margin-left: 10em;
  padding: 1.9em;
  display: flex;
  flex-direction: column;
  max-height: 52em;
  overflow-y: scroll;
}

.sidebar {
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5em;
  min-height: 43em;
  height: auto;
  border: 0.25em solid rgb(129, 171, 244);
  border-radius: 1em;
  padding: 2em;
}

.btn_round {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  font-size: 1.5em;
  position: fixed;
  right: 3em;
  bottom: 3em;
}

.filter {
  width: 25em;
  font-size: 1em;
}
