.todo {
  background-color: white;
  width: 80%;
  padding: 1.5em;
  margin: 1em;
  border: 0.25em solid rgb(129, 171, 244);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
}

.todo > h2 {
  color: rgb(56, 115, 217);
}

.done_todo {
  color: rgb(117, 118, 120);
  border: 0.25em solid rgb(187, 187, 187);
}

h3 {
  text-transform: capitalize;
}

.menu {
  position: relative;
  display: flex;
  background-color: white;
}

.menu_elipsis {
  position: relative;
  font-size: 3em;
  color: rgb(129, 171, 244);
  background-color: white;
  align-self: center;
  padding: 0.1em;
  height: 2em;
}

.menu_elipsis:hover {
  color: white;
  background-color: rgb(187, 207, 244);
}

.menu_opt {
  position: absolute;
  background-color: white;
  width: 6em;
  z-index: 1;
  left: 1.5em;
  font-size: 1.25em;
}

.opt {
  float: none;
  color: black;
  border: 1px solid rgb(129, 171, 244);
  width: 8em;
  text-decoration: none;
  display: block;
  text-align: center;
}

.opt:hover {
  transition: 0.2s;
  background-color: rgb(187, 207, 244);
}

.categories_options {
  display: flex;
  width: 100%;
  gap: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
}

.categories_create {
  background-color: white;
  width: 100%;
  font-size: 1em;
  color: rgb(56, 115, 217);
  border: 0.2em solid rgb(56, 115, 217);
}

.categories_create:hover {
  color: white;
  background-color: rgb(56, 115, 217);
  transition: 0.2s;
}

.done_title {
  color: rgb(117, 118, 120);
}

.display {
  line-height: 0.75em;
}
